{% extends "base.html" %}

{% block content %}
    <div class="ui container">
      <div class="ui grid middle aligned">
        <div class="four wide centered column">
          <h1 class="ui header center aligned">Sign In</h1>
          <form class="ui form " action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="field">
              <label>{{ form.username.label }}</label>
              {{ form.username(size=32,placeholder="Username") }}
              {% for error in form.username.errors %}
                <div class="ui pointing red basic label">
                  [{{ error }}]
                </div>
              {% endfor %}

            </div>
            <div class="field">
              <label>  {{ form.password.label }}</label>
              {{ form.password(size=32,placeholder="Password") }}
              {% for error in form.password.errors %}
                <div class="ui pointing red basic label">
                  [{{ error }}]
                </div>
              {% endfor %}

            </div>
            {{ form.submit(class="ui primary basic fluid button") }}
          </form>
        </div>
      </div>
    </div>
{% endblock %}
